<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIndexController</servlet-name>
        <servlet-class>controllers.AdminIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTraineeController</servlet-name>
        <servlet-class>controllers.AdminTraineeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetTraineeByIdController</servlet-name>
        <servlet-class>controllers.AdminGetTraineeByIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTrainerController</servlet-name>
        <servlet-class>controllers.AdminTrainerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetTrainerByIdController</servlet-name>
        <servlet-class>controllers.AdminGetTrainerByIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTrainerEditController</servlet-name>
        <servlet-class>controllers.AdminTrainerEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTrainerDeleteController</servlet-name>
        <servlet-class>controllers.AdminTrainerDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClassDeleteController</servlet-name>
        <servlet-class>controllers.AdminClassDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>controllers.AdminCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryDeleteController</servlet-name>
        <servlet-class>controllers.AdminCategoryDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTopicController</servlet-name>
        <servlet-class>controllers.AdminTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTopicDeleteController</servlet-name>
        <servlet-class>controllers.AdminTopicDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminWorkPlanController</servlet-name>
        <servlet-class>controllers.AdminWorkPlanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminWorkPlanDeleteController</servlet-name>
        <servlet-class>controllers.AdminWorkPlanDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClassTopicController</servlet-name>
        <servlet-class>controllers.AdminClassTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminClassTopicDeleteController</servlet-name>
        <servlet-class>controllers.AdminClassTopicDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoleController</servlet-name>
        <servlet-class>controllers.AdminRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoleDeleteController</servlet-name>
        <servlet-class>controllers.AdminRoleDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountController</servlet-name>
        <servlet-class>controllers.AdminAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountDeleteController</servlet-name>
        <servlet-class>controllers.AdminAccountDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeController</servlet-name>
        <servlet-class>controllers.TraineeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeChangePasswordController</servlet-name>
        <servlet-class>controllers.TraineeChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerController</servlet-name>
        <servlet-class>controllers.TrainerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerTraineeController</servlet-name>
        <servlet-class>controllers.TrainerTraineeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerInfomationController</servlet-name>
        <servlet-class>controllers.TrainerInfomationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerTopicController</servlet-name>
        <servlet-class>controllers.TrainerTopicController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndexController</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTraineeController</servlet-name>
        <url-pattern>/admin/trainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetTraineeByIdController</servlet-name>
        <url-pattern>/admin/getTraineeBy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTrainerController</servlet-name>
        <url-pattern>/admin/trainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetTrainerByIdController</servlet-name>
        <url-pattern>/admin/trainer/getTrainerBy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTrainerEditController</servlet-name>
        <url-pattern>/admin/trainer/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTrainerDeleteController</servlet-name>
        <url-pattern>/admin/trainer/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClassDeleteController</servlet-name>
        <url-pattern>/admin/class/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryDeleteController</servlet-name>
        <url-pattern>/admin/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTopicController</servlet-name>
        <url-pattern>/admin/topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTopicDeleteController</servlet-name>
        <url-pattern>/admin/topic/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminWorkPlanController</servlet-name>
        <url-pattern>/admin/workplan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminWorkPlanDeleteController</servlet-name>
        <url-pattern>/admin/workplan/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClassTopicController</servlet-name>
        <url-pattern>/admin/classtopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminClassTopicDeleteController</servlet-name>
        <url-pattern>/admin/classtopic/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoleController</servlet-name>
        <url-pattern>/admin/role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoleDeleteController</servlet-name>
        <url-pattern>/admin/role/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountController</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountDeleteController</servlet-name>
        <url-pattern>/admin/account/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeController</servlet-name>
        <url-pattern>/trainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeChangePasswordController</servlet-name>
        <url-pattern>/trainee/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerController</servlet-name>
        <url-pattern>/trainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerTraineeController</servlet-name>
        <url-pattern>/trainer/trainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerInfomationController</servlet-name>
        <url-pattern>/trainer/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerTopicController</servlet-name>
        <url-pattern>/trainer/topic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
